
@import '~@shared-styles';



.link {
	// box-sizing: border-box;
	display: inline-block;
	@include cursor-pointer;

	color: $color-link;

	&:hover,
	&:active {
		color: $color-link-active;
	}

	// Disabled state
	&.is-disabled,
	&[disabled] {
		@include cursor-inherit;
		@include type-discreet;
	}

	// border-color: transparent;
	@include transition-hover-active;
	@include transition-properties-common;

}
