
@import '~@shared-styles';

.control,
.control-area,
.control-scale {
	@include transition-hover-active;
	@include transition-properties-common;
}

// Default feedback for hit areas
// NOTE: might be better not to set anything here since this might need a lot of overriding in many places
.control-enabled {
	@include cursor-pointer;

	&.control-area {
		&:active {
			background-color: $color-feedback-dark;
		}
	}

	&.control-scale {
		&:active {
			transform: scale($scale-small);
		}
	}

}

// .control-disabled {}

// Prevent user select when double clicking or swiping etc.
.control-enabled {
	&.control-mouse-down {
		user-select: none;
	}
}
