
.background-contain,
.background-cover,
.background-fill-height {
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.background-contain {
	background-size: contain;
}

.background-cover {
	background-size: cover;
}

.background-fill-height {
	background-size: auto 100%;
}

.background-fill-width {
	background-position: 50% 0;
	background-size: 100% auto;
	background-repeat: repeat-y;
}

.no-background-color {
	background-color: transparent;
}

.no-background-image {
	background-image: none;
}
