
.separate {
	border-width: 1px;
}
	.separate-top {
		border-top-width: 1px;
	}
	.separate-right {
		border-right-width: 1px;
	}
	.separate-bottom {
		border-bottom-width: 1px;
	}
	.separate-left {
		border-left-width: 1px;
	}

.separate-double {
	border-width: 2px;
}
	.separate-double-top {
		border-top-width: 2px;
	}
	.separate-double-right {
		border-right-width: 2px;
	}
	.separate-double-bottom {
		border-bottom-width: 2px;
	}
	.separate-double-left {
		border-left-width: 2px;
	}
