
.fill,
.fill-relative,
.fill-fixed,
.fill-width,
.fill-width-relative,
.fill-width-fixed,
.fill-height,
.fill-height-relative,
.fill-height-fixed {
	box-sizing: border-box;
}

.fill,
.fill-relative,
.fill-fixed,
.fill-width,
.fill-width-relative,
.fill-width-fixed {
	left: 0;
	width: 100%;
}

.fill,
.fill-relative,
.fill-fixed,
.fill-height,
.fill-height-relative,
.fill-height-fixed {
	top: 0;
	height: 100%;
}

	.fill,
	.fill-width,
	.fill-height {
		position: absolute;
	}

	.fill-relative,
	.fill-width-relative,
	.fill-height-relative {
		position: relative;
	}

	.fill-fixed,
	.fill-width-fixed,
	.fill-height-fixed {
		position: fixed;
	}
