
@import '~@styles/shared';



// Single

.separate {
	border-width: $separator;
}

.separate-top {
	border-top-width: $separator;
}

.separate-right {
	border-right-width: $separator;
}

.separate-bottom {
	border-bottom-width: $separator;
}

.separate-left {
	border-left-width: $separator;
}



// Double

.separate-double {
	border-width: $separator-double;
}

.separate-double-top {
	border-top-width: $separator-double;
}

.separate-double-right {
	border-right-width: $separator-double;
}

.separate-double-bottom {
	border-bottom-width: $separator-double;
}

.separate-double-left {
	border-left-width: $separator-double;
}
