
.background-contain,
.background-cover,
.background-fill-height {
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.background-contain {
	background-size: contain;
}

.background-cover {
	background-size: cover;
}

.background-fill-height {
	background-size: auto 100%;
}

.background-fill-width {
	background-size: 100% auto;
	background-position: 50% 0;
	background-repeat: repeat-y;
}
