
@import '~@styles/shared';



// Produce pull utility classes

@mixin toolchain-utility-pull ($suffix: false) {

	@if $suffix {
		$suffix: "-#{$suffix}";
	}
	@else {
		$suffix: "";
	}

	// Pulls
	.pull#{$suffix} {
		@include pull;
	}
	.pull-even#{$suffix} {
		@include pull-even;
	}

	// Pane
	.pull-horizontal#{$suffix} {
		@include pull-horizontal;
	}
	.pull-vertical#{$suffix} {
		@include pull-vertical;
	}
	.pull-vertical-even#{$suffix} {
		@include pull-vertical-even;
	}

	// Single
	.pull-top#{$suffix} {
		@include pull-top;
	}
	.pull-top-even#{$suffix} {
		@include pull-top-even;
	}
	.pull-right#{$suffix} {
		@include pull-right;
	}
	.pull-bottom#{$suffix} {
		@include pull-bottom;
	}
	.pull-left#{$suffix} {
		@include pull-left;
	}



	// Small pulls
	.pull-tight#{$suffix} {
		@include pull-tight;
	}
	.pull-tight-even#{$suffix} {
		@include pull-tight-even;
	}

	// Pane
	.pull-tight-horizontal#{$suffix} {
		@include pull-tight-horizontal;
	}
	.pull-tight-vertical#{$suffix} {
		@include pull-tight-vertical;
	}
	.pull-tight-vertical-even#{$suffix} {
		@include pull-tight-vertical-even;
	}

	// Single
	.pull-tight-top#{$suffix} {
		@include pull-tight-top;
	}
	.pull-tight-top-even#{$suffix} {
		@include pull-tight-top-even;
	}
	.pull-tight-right#{$suffix} {
		@include pull-tight-right;
	}
	.pull-tight-bottom#{$suffix} {
		@include pull-tight-bottom;
	}
	.pull-tight-left#{$suffix} {
		@include pull-tight-left;
	}



	// Double pulls
	.pull-loose#{$suffix} {
		@include pull-loose;
	}
	.pull-loose-even#{$suffix} {
		@include pull-loose-even;
	}

	// Pane
	.pull-loose-horizontal#{$suffix} {
		@include pull-loose-horizontal;
	}
	.pull-loose-vertical#{$suffix} {
		@include pull-loose-vertical;
	}
	.pull-loose-vertical-even#{$suffix} {
		@include pull-loose-vertical-even;
	}

	// Single
	.pull-loose-top#{$suffix} {
		@include pull-loose-top;
	}
	.pull-loose-top-even#{$suffix} {
		@include pull-loose-top-even;
	}
	.pull-loose-right#{$suffix} {
		@include pull-loose-right;
	}
	.pull-loose-bottom#{$suffix} {
		@include pull-loose-bottom;
	}
	.pull-loose-left#{$suffix} {
		@include pull-loose-left;
	}

	// Percentage-based pulls
	.pull-relative#{$suffix} {
		@include pull-relative;
	}
	.pull-relative-even#{$suffix} {
		@include pull-relative-even;
	}

	// Pane
	.pull-relative-horizontal#{$suffix} {
		@include pull-relative-horizontal;
	}
	.pull-relative-vertical#{$suffix} {
		@include pull-relative-vertical;
	}
	.pull-relative-vertical-even#{$suffix} {
		@include pull-relative-vertical-even;
	}

	// Single
	.pull-relative-top#{$suffix} {
		@include pull-relative-top;
	}
	.pull-relative-top-even#{$suffix} {
		@include pull-relative-top-even;
	}
	.pull-relative-right#{$suffix} {
		@include pull-relative-right;
	}
	.pull-relative-bottom#{$suffix} {
		@include pull-relative-bottom;
	}
	.pull-relative-left#{$suffix} {
		@include pull-relative-left;
	}

	// Pad-based pulls
	.pull-pad#{$suffix} {
		@include pull-pad;
	}
	.pull-pad-even#{$suffix} {
		@include pull-pad-even;
	}
	.pull-pad-even-horizontal#{$suffix} {
		@include pull-pad-even-horizontal;
	}

	// Pane
	.pull-pad-horizontal#{$suffix} {
		@include pull-pad-horizontal;
	}
	.pull-pad-vertical#{$suffix} {
		@include pull-pad-vertical;
	}

	// Single
	.pull-pad-top#{$suffix} {
		@include pull-pad-top;
	}
	.pull-pad-right#{$suffix} {
		@include pull-pad-right;
	}
	.pull-pad-bottom#{$suffix} {
		@include pull-pad-bottom;
	}
	.pull-pad-left#{$suffix} {
		@include pull-pad-left;
	}

	// Resetting pulls
	.no-pull#{$suffix} {
		padding: 0;
	}
	.no-pull-vertical#{$suffix} {
		padding-top: 0;
		padding-bottom: 0;
	}
	.no-pull-horizontal#{$suffix} {
		padding-left: 0;
		padding-right: 0;
	}
	.no-pull-top#{$suffix} {
		padding-top: 0;
	}
	.no-pull-right#{$suffix} {
		padding-right: 0;
	}
	.no-pull-bottom#{$suffix} {
		padding-bottom: 0;
	}
	.no-pull-left#{$suffix} {
		padding-left: 0;
	}

}
