
@import '~@styles/shared';



// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 200;
//   font-style: normal;
//   src: url('../../assets/fonts/Open-Sans-200/Open-Sans-200.eot');
//   src: url('../../assets/fonts/Open-Sans-200/Open-Sans-200.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans ExtraLight'),
//        local('Open-Sans-200'),
//        url('../../assets/fonts/Open-Sans-200/Open-Sans-200.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-200/Open-Sans-200.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-200/Open-Sans-200.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-200/Open-Sans-200.svg#SourceSansPro') format('svg');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 300;
//   font-style: normal;
//   src: url('../../assets/fonts/Open-Sans-300/Open-Sans-300.eot');
//   src: url('../../assets/fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans Light'),
//        local('Open-Sans-300'),
//        url('../../assets/fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-300/Open-Sans-300.svg#SourceSansPro') format('svg');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 400;
//   font-style: normal;
//   src: url('../../assets/fonts/Open-Sans-regular/Open-Sans-regular.eot');
//   src: url('../../assets/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans'),
//        local('Open-Sans-regular'),
//        url('../../assets/fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-regular/Open-Sans-regular.svg#SourceSansPro') format('svg');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 600;
//   font-style: normal;
//   src: url('../../assets/fonts/Open-Sans-600/Open-Sans-600.eot');
//   src: url('../../assets/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans Semibold'),
//        local('Open-Sans-600'),
//        url('../../assets/fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-600/Open-Sans-600.svg#SourceSansPro') format('svg');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 700;
//   font-style: normal;
//   src: url('../../assets/fonts/Open-Sans-700/Open-Sans-700.eot');
//   src: url('../../assets/fonts/Open-Sans-700/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans Bold'),
//        local('Open-Sans-700'),
//        url('../../assets/fonts/Open-Sans-700/Open-Sans-700.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-700/Open-Sans-700.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-700/Open-Sans-700.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-700/Open-Sans-700.svg#SourceSansPro') format('svg');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 900;
//   font-style: normal;
//   src: url('../../assets/fonts/Open-Sans-900/Open-Sans-900.eot');
//   src: url('../../assets/fonts/Open-Sans-900/Open-Sans-900.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans Black'),
//        local('Open-Sans-900'),
//        url('../../assets/fonts/Open-Sans-900/Open-Sans-900.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-900/Open-Sans-900.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-900/Open-Sans-900.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-900/Open-Sans-900.svg#SourceSansPro') format('svg');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 200;
//   font-style: italic;
//   src: url('../../assets/fonts/Open-Sans-200italic/Open-Sans-200italic.eot');
//   src: url('../../assets/fonts/Open-Sans-200italic/Open-Sans-200italic.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans ExtraLight Italic'),
//        local('Open-Sans-200italic'),
//        url('../../assets/fonts/Open-Sans-200italic/Open-Sans-200italic.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-200italic/Open-Sans-200italic.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-200italic/Open-Sans-200italic.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-200italic/Open-Sans-200italic.svg#SourceSansPro') format('svg');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 300;
//   font-style: italic;
//   src: url('../../assets/fonts/Open-Sans-300italic/Open-Sans-300italic.eot');
//   src: url('../../assets/fonts/Open-Sans-300italic/Open-Sans-300italic.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans Light Italic'),
//        local('Open-Sans-300italic'),
//        url('../../assets/fonts/Open-Sans-300italic/Open-Sans-300italic.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-300italic/Open-Sans-300italic.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-300italic/Open-Sans-300italic.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-300italic/Open-Sans-300italic.svg#SourceSansPro') format('svg');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 400;
//   font-style: italic;
//   src: url('../../assets/fonts/Open-Sans-italic/Open-Sans-italic.eot');
//   src: url('../../assets/fonts/Open-Sans-italic/Open-Sans-italic.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans Italic'),
//        local('Open-Sans-italic'),
//        url('../../assets/fonts/Open-Sans-italic/Open-Sans-italic.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-italic/Open-Sans-italic.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-italic/Open-Sans-italic.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-italic/Open-Sans-italic.svg#SourceSansPro') format('svg');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 600;
//   font-style: italic;
//   src: url('../../assets/fonts/Open-Sans-600italic/Open-Sans-600italic.eot');
//   src: url('../../assets/fonts/Open-Sans-600italic/Open-Sans-600italic.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans Semibold Italic'),
//        local('Open-Sans-600italic'),
//        url('../../assets/fonts/Open-Sans-600italic/Open-Sans-600italic.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-600italic/Open-Sans-600italic.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-600italic/Open-Sans-600italic.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-600italic/Open-Sans-600italic.svg#SourceSansPro') format('svg');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 700;
//   font-style: italic;
//   src: url('../../assets/fonts/Open-Sans-700italic/Open-Sans-700italic.eot');
//   src: url('../../assets/fonts/Open-Sans-700italic/Open-Sans-700italic.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans Bold Italic'),
//        local('Open-Sans-700italic'),
//        url('../../assets/fonts/Open-Sans-700italic/Open-Sans-700italic.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-700italic/Open-Sans-700italic.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-700italic/Open-Sans-700italic.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-700italic/Open-Sans-700italic.svg#SourceSansPro') format('svg');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-weight: 900;
//   font-style: italic;
//   src: url('../../assets/fonts/Open-Sans-900italic/Open-Sans-900italic.eot');
//   src: url('../../assets/fonts/Open-Sans-900italic/Open-Sans-900italic.eot?#iefix') format('embedded-opentype'),
//        local('Open Sans Black Italic'),
//        local('Open-Sans-900italic'),
//        url('../../assets/fonts/Open-Sans-900italic/Open-Sans-900italic.woff2') format('woff2'),
//        url('../../assets/fonts/Open-Sans-900italic/Open-Sans-900italic.woff') format('woff'),
//        url('../../assets/fonts/Open-Sans-900italic/Open-Sans-900italic.ttf') format('truetype'),
//        url('../../assets/fonts/Open-Sans-900italic/Open-Sans-900italic.svg#SourceSansPro') format('svg');
// }

