
@mixin pad {
	padding: $pad-vertical $pad-horizontal;
}



@mixin pad-horizontal {
	padding-left: $pad-horizontal;
	padding-right: $pad-horizontal;
}

@mixin pad-vertical {
	padding-top: $pad-vertical;
	padding-bottom: $pad-vertical;
}



@mixin pad-even {
	padding: min($pad-vertical, $pad-horizontal);
}

@mixin pad-even-max {
	padding: max($pad-vertical, $pad-horizontal);
}



@mixin pad-top {
	padding-top: $pad-vertical;
}

@mixin pad-right {
	padding-right: $pad-horizontal;
}

@mixin pad-bottom {
	padding-bottom: $pad-vertical;
}

@mixin pad-left {
	padding-left: $pad-horizontal;
}
