
@mixin inline {
	display: inline;
}

@mixin inline-block {
	display: inline-block;
}

@mixin block {
	display: block;
}

@mixin flex {
	display: flex;
}

@mixin inline-flex {
	display: inline-flex;
}
