
// Font styles
@mixin type-uppercase {
	text-transform: uppercase;
	font-size: $font-size-uppercase;
	// font-weight: 600;
}

@mixin type-small {
	font-size: $font-size-small;
}

@mixin type-large {
	font-size: 1.2em;
	line-height: $line-height-loose;

	@include viewport-over-small {
		font-size: 1.4em;
	}

}

@mixin type-display {
	font-family: $font-display;
	font-size: $font-size-display;
	font-weight: inherit;

	font-size: 1.2em;
	line-height: $line-height-loose;

	@include viewport-over-tiny {
		font-size: 1.4em;
	}

}

@mixin type-mono {
	font-family: $font-mono;
	font-size: $font-size-mono;
}

@mixin type-serif {
	font-family: $font-serif;
}

@mixin type-sans {
	font-family: $font-sans;
}

@mixin type-discreet {
	color: $color-grey;
	@include type-small;
}

@mixin type-discreet-dark {
	color: $color-dark;
}

@mixin type-warning {
	color: $color-red;
}



// Headings
@mixin type-h1 {
	// @include type-serif;
	font-size: 1.6em;
	line-height: 1.2;
	font-weight: inherit;

	@include viewport-over-tiny {
		font-size: 1.8em;
	}

	@include viewport-over-small {
		font-size: 2.0em;
	}

	@include viewport-over-large {
		font-size: 2.2em;
	}

}

@mixin type-h2 {
	@include type-display;
}

@mixin type-h3 {
	// @include type-uppercase;
	// font-weight: 600;
	font-size: inherit;
	font-weight: inherit;
}

@mixin type-h4 {
	font-size: inherit;
	font-weight: 600;
}

@mixin type-h5 {
	font-weight: inherit;
	font-size: inherit;
	@include type-discreet;
}



// Other type-related

@mixin type-hyphens {
	// word-break: break-word;
	hyphens: auto;
}

@mixin type-nohyphens {
	// word-break: normal;
	hyphens: manual;
}

@mixin type-nobreak {
	word-break: keep-all;
	white-space: nowrap;
}

@mixin type-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	// vertical-align: middle;
}
