
// NOTE: order is very important here

// Margins
@mixin pull {
	margin: -$buffer-tight -$buffer -$buffer -$buffer;
}

@mixin pull-even {
	margin: -$buffer;
}

// Pane
@mixin pull-horizontal {
	margin-left: -$buffer;
	margin-right: -$buffer;
}

@mixin pull-vertical {
	margin-top: -$buffer-tight;
	margin-bottom: -$buffer;
}

@mixin pull-vertical-even {
	margin-top: -$buffer;
	margin-bottom: -$buffer;
}



// Single
@mixin pull-top {
	margin-top: -$buffer-tight;
}

@mixin pull-top-even {
	margin-top: -$buffer;
}

@mixin pull-right {
	margin-right: -$buffer;
}

@mixin pull-bottom {
	margin-bottom: -$buffer;
}

@mixin pull-left {
	margin-left: -$buffer;
}



// Small margins
@mixin pull-tight {
	margin: -$buffer-verytight -$buffer-tight -$buffer-tight -$buffer-tight;
}

@mixin pull-tight-even {
	margin: -$buffer-tight;
}

// Pane
@mixin pull-tight-horizontal {
	margin-left: -$buffer-tight;
	margin-right: -$buffer-tight;
}

@mixin pull-tight-vertical {
	margin-top: -$buffer-verytight;
	margin-bottom: -$buffer-tight;
}

@mixin pull-tight-vertical-even {
	margin-top: -$buffer-tight;
	margin-bottom: -$buffer-tight;
}

// Single
@mixin pull-tight-top {
	margin-top: -$buffer-verytight;
}

@mixin pull-tight-top-even {
	margin-top: -$buffer-tight;
}

@mixin pull-tight-right {
	margin-right: -$buffer-tight;
}

@mixin pull-tight-bottom {
	margin-bottom: -$buffer-tight;
}

@mixin pull-tight-left {
	margin-left: -$buffer-tight;
}



// Double margins
@mixin pull-loose {
	margin: -$buffer -$buffer-loose -$buffer-loose -$buffer-loose;
}

@mixin pull-loose-even {
	margin: -$buffer-loose;
}

// Pane
@mixin pull-loose-horizontal {
	margin-left: -$buffer-loose;
	margin-right: -$buffer-loose;
}

@mixin pull-loose-vertical {
	margin-top: -$buffer;
	margin-bottom: -$buffer-loose;
}

@mixin pull-loose-vertical-even {
	margin-top: -$buffer-loose;
	margin-bottom: -$buffer-loose;
}

// Single
@mixin pull-loose-top {
	margin-top: -$buffer;
}

@mixin pull-loose-top-even {
	margin-top: -$buffer-loose;
}

@mixin pull-loose-right {
	margin-right: -$buffer-loose;
}

@mixin pull-loose-bottom {
	margin-bottom: -$buffer-loose;
}

@mixin pull-loose-left {
	margin-left: -$buffer-loose;
}



// Percentage-based buffers
@mixin pull-relative {
	margin: -$buffer-relative-tight -$buffer-relative -$buffer-relative -$buffer-relative;
}

@mixin pull-relative-even {
	margin: -$buffer-relative;
}

// Pane
@mixin pull-relative-horizontal {
	margin-left: -$buffer-relative;
	margin-right: -$buffer-relative;
}

@mixin pull-relative-vertical {
	margin-top: -$buffer-relative-tight;
	margin-bottom: -$buffer-relative;
}

@mixin pull-relative-vertical-even {
	margin-top: -$buffer-relative;
	margin-bottom: -$buffer-relative;
}

// Single
@mixin pull-relative-top {
	margin-top: -$buffer-relative-tight;
}

@mixin pull-relative-top-even {
	margin-top: -$buffer-relative;
}

@mixin pull-relative-right {
	margin-right: -$buffer-relative;
}

@mixin pull-relative-bottom {
	margin-bottom: -$buffer-relative;
}

@mixin pull-relative-left {
	margin-left: -$buffer-relative;
}



// Percentage-based buffers
@mixin pull-pad {
	margin: (-$pad-vertical) (-$pad-horizontal);
}

@mixin pull-pad-even {
	margin: (-$pad-vertical);
}

@mixin pull-pad-even-horizontal {
	margin: (-$pad-horizontal);
}

// Pane
@mixin pull-pad-horizontal {
	margin-left: (-$pad-horizontal);
	margin-right: (-$pad-horizontal);
}

@mixin pull-pad-vertical {
	margin-top: (-$pad-vertical);
	margin-bottom: (-$pad-vertical);
}

// Single
@mixin pull-pad-top {
	margin-top: (-$pad-vertical);
}

@mixin pull-pad-right {
	margin-right: (-$pad-horizontal);
}

@mixin pull-pad-bottom {
	margin-bottom: (-$pad-vertical);
}

@mixin pull-pad-left {
	margin-left: (-$pad-horizontal);
}
