
@import '~@styles/mixins/mixin-viewport';



// Limit width of an element when viewport is big enough

@mixin limit ($breakpoint, $limit: $breakpoint) {
	@include viewport-over($breakpoint) {
		max-width: $limit;
	}
}

@mixin limit-max {
	max-width: 100%;
}

@mixin limit-tiny {
	@include viewport-over-tiny {
		max-width: $limit-tiny;
	}
}

@mixin limit-small {
	@include viewport-over-small {
		max-width: $limit-small;
	}
}

@mixin limit-smallish {
	@include viewport-over-smallish {
		max-width: $limit-smallish;
	}
}

@mixin limit-medium {
	@include viewport-over-medium {
		max-width: $limit-medium;
	}
}

@mixin limit-large {
	@include viewport-over-large {
		max-width: $limit-large;
	}
}

@mixin limit-verylarge {
	@include viewport-over-verylarge {
		max-width: $limit-verylarge;
	}
}

@mixin no-limit {
	max-width: none;
}



// Limit height of an element when viewport is big enough

@mixin limit-height ($breakpoint, $limit: $breakpoint) {
	@include viewport-height-over($breakpoint) {
		max-height: $limit;
	}
}
