
@mixin shadow ($color: $color-black, $opacity: 0.15) {
	box-shadow: 0 1px 6px rgba($color, $opacity);
}

	@mixin shadow-transparent ($color: $color-black) {
		@include shadow($color, 0);
	}

@mixin shadow-tight ($color: $color-black, $opacity: 0.1) {
	box-shadow: 0 1px 2px rgba($color, $opacity);
}

	@mixin shadow-tight-transparent ($color: $color-black) {
		@include shadow-tight($color, 0);
	}

@mixin shadow-loose ($color: $color-black, $opacity: 0.1) {
	box-shadow: 0 2px 38px rgba($color, $opacity);
}

	@mixin shadow-loose-transparent ($color: $color-black) {
		@include shadow-loose($color, 0);
	}
