
@mixin fill {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

@mixin fill-width {
	position: absolute;
	left: 0;
	box-sizing: border-box;
	width: 100%;
}

@mixin fill-height {
	position: absolute;
	top: 0;
	box-sizing: border-box;
	height: 100%;
}



@mixin fill-relative {
	position: relative;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

@mixin fill-width-relative {
	position: relative;
	left: 0;
	box-sizing: border-box;
	width: 100%;
}

@mixin fill-height-relative {
	position: relative;
	top: 0;
	box-sizing: border-box;
	height: 100%;
}



@mixin fill-fixed {
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

@mixin fill-width-fixed {
	position: fixed;
	left: 0;
	box-sizing: border-box;
	width: 100%;
}

@mixin fill-height-fixed {
	position: fixed;
	top: 0;
	box-sizing: border-box;
	height: 100%;
}
