
@import '~@shared-styles';



code {
	display: inline-block;
}

pre {
	code {
		// line-height: $line-height-tight;

		display: block;
		padding: 1.6em;
		// border-width: 1px;

		@include radius-loose;
		// border-color: $color-lightgrey;
		// background-color: $color-verylightgrey;
		// background-color: $color-white;
		color: $color-white;
		background-color: $color-darkgrey;

	}
}
