
@import '~@shared-styles';



html {
	line-height: $line-height;
}



// FIXME: should use push mixins

h1 {
	margin-top: $buffer-tight;
}

h2,
h3,
h4,
h5,
h6 {
	margin-top: $buffer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: $buffer-tight;
}

p,
ul,
ol,
table,
pre,
blockquote {
	margin-top: $buffer-tight;
	margin-bottom: $buffer;
}

// Definition lists
dl {
	margin-bottom: $buffer;

	// Utilities
	&.no-push,
	&.no-push-vertical,
	&.no-push-top,
	&.inline,
	&.inline-block {
		dt {
			margin-top: 0;
		}
	}

}

dt {
	margin-top: $buffer-tight;
	margin-bottom: 0;
}

dd {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
}

// Tables
caption {
	margin-bottom: $buffer-tight;
}

th,
td {
	padding: 0;
}

// Lines
hr {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: $color-dark-translucent;
	@include push-vertical;
}
